.row {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.column {
    background-color: red;
    border: 1px solid black;
    padding:20px;
    width:50%;
    max-width: 50%;
}

.ItemCard {
    position: relative;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}